<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="dist/css/index.css">
	<title>Document</title>
</head>
<body>
	<nav>
		<ul class="navigation-list">
			<li class="navigation-list__item">22 666 66 66</li>
			<li class="navigation-list__item">Kontakt/Śledzenie Przesyłki</li>
			<li class="navigation-list__item">Rejestracja</li>
			<li class="navigation-list__item navigation-list__item--login">Logowanie</li>
		</ul>
	</nav>








	
</body>
</html>