<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="dist/css/index.css">
	<title>Document</title>
</head>
<body>
	<div class="wrapper">
		<nav>
		<ul class="navigation-list">
			<li class="navigation-list__item">22 666 66 66</li>
			<li class="navigation-list__item">Kontakt/Śledzenie Przesyłki</li>
			<li class="navigation-list__item">Rejestracja</li>
			<li class="navigation-list__item navigation-list__item--login">Logowanie</li>
		</ul>
		</nav>
		<header class="header">
			<a href="" class="header__link">
				<figure class="header__image-wrapper">
					<img src="" alt="" class="header__image logo">
				</figure>
			</a>
			<a href="" class="header__link">
				<figure class="header__image-wrapper">
					<img src="" alt="" class="header__image awards">
				</figure>
			</a>
			<div class="header__postcodes-search">
				<input type="tel" class="header__input">
				<a href="#" class="header__link--search-pna">Wyszukaj kod pocztowy</a>
			</div>
		</header>
		<div class="slider">
			.slider__slide
		</div>
		<section class="categories">
			<a href="" class="categories__link">
				<figure class="categories__element">
					<img src="" alt="" class="categories__image">
					<figcaption>dupa1</figcaption>
				</figure>
			</a>
			<a href="" class="categories__link">
				<figure class="categories__element">
					<img src="" alt="" class="categories__image">
					<figcaption>dupa2</figcaption>
				</figure>
			</a>
			<a href="" class="categories__link">
				<figure class="categories__element">
					<img src="" alt="" class="categories__image">
					<figcaption>dupa3</figcaption>
				</figure>
			</a>
			<a href="" class="categories__link">
				<figure class="categories__element">
					<img src="" alt="" class="categories__image">
					<figcaption>dupa4</figcaption>
				</figure>
			</a>
			<a href="" class="categories__link">
				<figure class="categories__element">
					<img src="" alt="" class="categories__image">
					<figcaption>dupa5</figcaption>
				</figure>
			</a>
			<a href="" class="categories__link">
				<figure class="categories__element">
					<img src="" alt="" class="categories__image">
					<figcaption>dupa6</figcaption>
				</figure>
			</a>
			<a href="" class="categories__link">
				<figure class="categories__element">
					<img src="" alt="" class="categories__image">
					<figcaption>dupa7</figcaption>
				</figure>
			</a>
			<a href="" class="categories__link">
				<figure class="categories__element">
					<img src="" alt="" class="categories__image">
					<figcaption>dupa8</figcaption>
				</figure>
			</a>
		</section> <!-- /.categories -->
		<section class="featured">
			<article class="featured__article">
				<h2 class="featured__header">dupa</h2>
				<p class="featured__caption">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, dolorem!
				</p>
				<ul class="featured__list">
					<li class="featured__item featured__item--message">
						<h4 class="featured__header">dupa1</h4>
						<p class="featured__caption">
							Lorem ipsum dolor sit amet.
						</p>
					</li>
					<li class="featured__item featured__item--guarantee">
						<h4 class="featured__header">dupa2</h4>
						<p class="featured__caption">
							Lorem ipsum dolor sit amet.
						</p>
					</li>
					<li class="featured__item featured__item--sms">
						<h4 class="featured__header">dupa3</h4>
						<p class="featured__caption">
							Lorem ipsum dolor sit amet.
						</p>
					</li>
				</ul>
			</article>
			<section class="featured__items">
				<!-- 3  R E C O M M E N D E D  P R O D U C T S  H E R E -->
				<!-- <figure class="featured__product"></figure> -->
			</section> <!-- /.featured items -->
		</section> <!-- /.featured -->
		<secton class="products-section recommended">
			<h3 class="products-section__header">Kwiaciarnia internetowa poleca</h3>
			<!-- R E C O M M E N D E D  P R O D U C T S  H E R E -->
		</secton> <!-- /.recommended -->
		<secton class="products-section to-poland">
			<h3 class="products-section__header">Kwiaciarnia internetowa poleca</h3>
			<!-- P R O D U C T S  T O  P O L A N D  H E R E -->
		</secton> <!-- /.to-poland -->
		<h2 class="gift-idea__header">Pomysł na prezent</h2>
		<section class="gift-idea">
			
		</section> <!-- /.gift-idea -->




	</div> <!-- /.wrapper -->


</body>
</html>