<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../css/main.css">
	<title>Document</title>
</head>
<body>
	<div class="wrapper">
		<!-- T O P  N A V I G A T I O N -->
		<nav class="top-nav">
			<ul class="navigation-list">
				<li class="navigation-list__item">
					<a href="tel:226666666" class="link" aria-label="22. 666. 66. 66">
						<span class="icon icon--phone" aria-hidden="true"></span>
	                    <span class="visuallyhidden">Numer telefonu</span>22 666 66 66</a>
				</li>
				<li class="navigation-list__item">
					<a href="#" class="link">Kontakt/Śledzenie Przesyłki</a>
				</li>
				<li class="navigation-list__item">
					<a href="#" class="link">Rejestracja</a>
				</li>
				<li class="navigation-list__item navigation-list__item--login">
					<a href="#" class="link">Logowanie</a>
				</li>
				<!-- S E A R C H  B O X -->
				<li class="navigation-list__item navigation-list__item--icon">
                    <span class="icon icon--search" aria-hidden="true"></span>
                    <span class="visuallyhidden">Wyszukiwarka</span>
	                <form method="get" id="search-box">
	                	<!-- <input class="search-box__input" type="text" placeholder="Szukaj" aria-label="Szukaj"> -->
	                </form>
            	</li>
            	<li class="navigation-list__item navigation-list__item--icon">
            		<a href="#" class="top-nav__link">
            			<span class="icon icon--basket" aria-hidden="true"></span>
            		</a>
            	</li>
            	<!-- CZEKAMY NA WIDOK KOSZYKA -->
			</ul>
		</nav> <!-- /.top-nav -->
		<!-- P A G E  H E A D E R -->
		<header class="header">
			<div class="header__container header__container--images">
				<a href="" class="header__link" title="Przejdź do strony głównej">
				<figure class="header__image-wrapper">
					<img src="" alt="" class="header__image logo">
				</figure>
				</a>
				<a href="" class="header__link" title="Nasze nagrody">
					<figure class="header__image-wrapper">
						<img src="" alt="" class="header__image awards">
					</figure>
				</a>
			</div>
			<div class="header__container header__container--postcodes-search">
				<div class="header__elements-wrapper">
					<div>
						<input type="tel" id="postcode" class="input input--default">
						<button type="button" id="postcode_reset" class="button button--close visuallyhidden">
							<span class="icon icon--close" aria-hidden="true"></span>
							<span class="visuallyhidden">Wyczyść kod pocztowy</span>
						</button>
						<a href="#" class="link link--pna">Wyszukaj kod pocztowy</a>
					</div>
				</div>
			</div>
		</header>
		<!-- P L A C E  M E G A M E N U  H E R E -->
		<div class="megamenu-placeholder" style="height: 50px;"></div>
		<div class="slider">
			<div class="slider__carousel">
				<div class="slider__slide"></div>
				<div class="slider__slide"></div>
				<div class="slider__slide"></div>
			</div>
			<section class="counter-section">
				<div class="counter-section__wrapper">
					<div class="counter-section__block">
						<img src="" alt="" class="counter-section__image" aria-hidden="true">
						<h3 class="counter-section__header">Kwiaty na dziś ?</h3>
						<p class="counter-section__description">Zamów w ciągu:</p>
						<section class="counter">
							<span class="counter__units counter__units--hours">88:</span>
							<span class="counter__units counter__units--minutes">88:</span>
							<span class="counter__units counter__units--seconds">88</span>
						</section>
					</div> <!-- /.counter-section__block -->
					<br>
					<div class="counter-section__block">
						<span class="delivered-label">15:22(666 min. temu)</span>
					</div> <!-- /.counter-section__block -->  
				</div>
			</section>
		</div> <!-- /.slider -->
		<section class="categories">
			<a href="" class="categories__link" title="title 1">
				<figure class="categories__element">
					<img src="" alt="" class="categories__image" aria-hidden="true">
					<figcaption class="categories__image-title">dupa1</figcaption>
				</figure>
			</a>
			<a href="" class="categories__link" title="title 2">
				<figure class="categories__element">
					<img src="" alt="" class="categories__image" aria-hidden="true">
					<figcaption class="categories__image-title">dupa2</figcaption>
				</figure>
			</a>
			<a href="" class="categories__link" title="title 3">
				<figure class="categories__element">
					<img src="" alt="" class="categories__image" aria-hidden="true">
					<figcaption class="categories__image-title">dupa3</figcaption>
				</figure>
			</a>
			<a href="" class="categories__link" title="title 4">
				<figure class="categories__element">
					<img src="" alt="" class="categories__image" aria-hidden="true">
					<figcaption class="categories__image-title">dupa4</figcaption>
				</figure>
			</a>
			<a href="" class="categories__link" title="title 5">
				<figure class="categories__element">
					<img src="" alt="" class="categories__image" aria-hidden="true">
					<figcaption class="categories__image-title">dupa5</figcaption>
				</figure>
			</a>
			<a href="" class="categories__link" title="title 6">
				<figure class="categories__element">
					<img src="" alt="" class="categories__image" aria-hidden="true">
					<figcaption class="categories__image-title">dupa6</figcaption>
				</figure>
			</a>
			<a href="" class="categories__link" title="title 7">
				<figure class="categories__element">
					<img src="" alt="" class="categories__image" aria-hidden="true">
					<figcaption class="categories__image-title">dupa7</figcaption>
				</figure>
			</a>
			<a href="" class="categories__link" title="title 8">
				<figure class="categories__element">
					<img src="" alt="" class="categories__image" aria-hidden="true">
					<figcaption class="categories__image-title">dupa8</figcaption>
				</figure>
			</a>
		</section> <!-- /.categories -->
		<section class="featured">
			<article class="featured__article">
				<h2 class="visuallyhidden">dupa</h2>
				<p class="featured__caption">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, dolorem!
				</p>
				<div class="featured__links">
	                <figure class="featured__figure">
	                    <img src="" alt="" class="featured__image" aria-hidden="true">
	                    <figcaption class="featured__info"><strong>strong text</strong>rest of caption</figcaption>
	                </figure>
	                <figure class="featured__figure">
	                    <img src="" alt="" class="featured__image" aria-hidden="true">
	                    <figcaption class="featured__info"><strong>strong text</strong>rest of caption</figcaption>
	                </figure>
	                <figure class="featured__figure">
	                    <img src="" alt="" class="featured__image" aria-hidden="true">
	                    <figcaption class="featured__info"><strong>strong text</strong>rest of caption</figcaption>
	                </figure>
            	</div> <!-- /.featured__links -->
			</article>
			<section class="featured-items">
				<!-- 3  R E C O M M E N D E D  P R O D U C T S  H E R E -->
				<!-- <figure class="featured__product"></figure> -->
			</section> <!-- /.featured-items -->
		</section> <!-- /.featured -->
		<secton class="products-section recommended">
			<h3 class="products-section__header">Kwiaciarnia internetowa poleca</h3>
			<!-- R E C O M M E N D E D  P R O D U C T S  H E R E -->
		</secton> <!-- /.recommended -->
		<secton class="products-section to-poland">
			<h3 class="products-section__header header-underline">
				Kwiaciarnia internetowa poleca
			</h3>
			<!-- P R O D U C T S  T O  P O L A N D  H E R E -->
		</secton> <!-- /.to-poland -->
		<h3 class="gift-idea__header header-underline">Pomysł na prezent</h3>
		<form action="post" class="gift-idea">
			<input type="text" class="gift-idea__input gift-idea__input--datepicker">
			<select name="" class="gift-idea__input gift-idea__input--select">
				<option selected disabled>Rodzaj produktu</option>
				<option value="flowers">Kwiaty</option>
				<option value="gifts">Prezenty</option>
			</select>
			<input type="tel" class="gift-idea__input gift-idea__input--postcode">
			<button class="gift-idea__button" type="submit">Znajdź produkt</button>
		</form> <!-- /.gift-idea -->
		<section class="how-we-deliver">
			<div class="how-we-deliver__player"></div>
			<article class="how-we-deliver__caption">
				<h3 class="how-we-deliver__header">Jak doręczamy?</h3>
				<p class="how-we-deliver__paragraph">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, corrupti maxime! Laboriosam ipsum et nobis, nulla, similique id maxime adipisci itaque ex, accusamus cupiditate officiis repellat. Sit, repellendus natus quam quidem, laboriosam beatae mollitia iure assumenda architecto quibusdam consequuntur nesciunt.
				</p>
				<a href="#" class="how-we-deliver__link">dupa dupa</a>
			</article>
		</section> <!-- /.how-we-deliver -->
		<secrion class="reviews">
			<h3 class="reviews__header header-underline">Opinie</h3>
			<figure class="reviews__opinion">
				<img src="" alt="" class="reviews__rating">
				<figcaption class="reviews__message">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus a temporibus eveniet error pariatur est?
				</figcaption>
				<span class="reviews__author">06.06.06 Andrzej</span>
			</figure>
		</secrion> <!-- /.reviews -->
		<section class="blog">
			<h3 class="blog__header header-underline">Blog</h3>
			<section class="blog__jumbotrons">
				<a href="#">
					<figure class="fearured-post">
						<img src="" alt="" class="featured-post__img">
						<span class="featured__title">Lorem ipsum dolor.</span>
						<figcaption class="featured-post__caption">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, ab eos explicabo doloremque, ea dolores.
						</figcaption>
					</figure>
				</a> <!-- T O T A L  O F  3  F E A T U R E D  P O S T S -->
			</section> <!-- /.blog__jumbotrons -->
			<section class="recent">
				<h3 class="recent__header header-underline">Najnowsze</h3>
				<figure class="recent__post">
					<img src="" alt="" class="recent-miniature">
					<span class="recent-post-date">06.06.06</span>
					<figcaption class="recent-title">Lorem ipsum dolor sit amet.</figcaption>
				</figure> <!-- T O T A L  O F  3  R E C E N T  P O S T S -->
			</section> <!-- /.recent -->
		</section> <!-- /.blog -->
		<section class="partners">
			<h3 class="partners__header header-underline">Zaufali nam</h3>
			<img src="" alt="" class="partners-sprite">
		</section> <!-- /.partners -->
		<form action="post" class="newsletter">
			<input type="email" class="newsletter__input">
			<button class="newsletter__button" type="submit"></button>
		</form> <!-- /.newsletter -->
		<footer class="footer">
			<section class="footer__section footer__section--contact">
				<a href="tel:6666666">666 66 66</a>
				<a href="mailto:dupa@cycki.pl?subject=dupa">dupa@cycki.pl</a>
				<p class="contact-details">
					pk sp z o.o. <br>
					ul. jakastam 66/6 <br>
					pn-ndz: 88:88
				</p>
				<section class="social-media">
					<a href="#" target="_blank" class="social-media__link social-media__link--fb"></a>
					<a href="#" target="_blank" class="social-media__link social-media__link--gplus"></a>
					<a href="#" target="_blank" class="social-media__link social-media__link--yt"></a>
					<a href="#" target="_blank" class="social-media__link social-media__link--ig"></a>
				</section> <!-- /.social-media -->
			</section> <!-- /.contact -->
			<section class="footer__section footer__section--info">
				<h3 class="footer__header">Info</h3>
				<ul class="footer__links">
					<li class="footer__item">
						<a href="#" class="footer_link" aria-label="jakistam label">link</a>
					</li>
					<li class="footer__item">
						<a href="#" class="footer_link" aria-label="jakistam label">link</a>
					</li>
					<li class="footer__item">
						<a href="#" class="footer_link" aria-label="jakistam label">link</a>
					</li>
					<li class="footer__item">
						<a href="#" class="footer_link" aria-label="jakistam label">link</a>
					</li>
					<li class="footer__item">
						<a href="#" class="footer_link" aria-label="jakistam label">link</a>
					</li>
					<li class="footer__item">
						<a href="#" class="footer_link" aria-label="jakistam label">link</a>
					</li>
					<li class="footer__item">
						<a href="#" class="footer_link" aria-label="jakistam label">link</a>
					</li>
				</ul>
			</section> <!-- /info -->
			<section class="footer__section footer__section--pk">
				<h3 class="footer__header">Poczta Kwiatowa</h3>
				<ul class="footer__links">
					<li class="footer__item">
						<a href="#" class="footer_link" aria-label="jakistam label">link</a>
					</li>
					<li class="footer__item">
						<a href="#" class="footer_link" aria-label="jakistam label">link</a>
					</li>
					<li class="footer__item">
						<a href="#" class="footer_link" aria-label="jakistam label">link</a>
					</li>
					<li class="footer__item">
						<a href="#" class="footer_link" aria-label="jakistam label">link</a>
					</li>
					<li class="footer__item">
						<a href="#" class="footer_link" aria-label="jakistam label">link</a>
					</li>
					<li class="footer__item">
						<a href="#" class="footer_link" aria-label="jakistam label">link</a>
					</li>
					<li class="footer__item">
						<a href="#" class="footer_link" aria-label="jakistam label">link</a>
					</li>
				</ul>
			</section>	<!-- /pk -->
			<section class="footer__section footer__section--offer">
				<h3 class="footer__header">Oferta</h3>
				<ul class="footer__links">
					<li class="footer__item">
						<a href="#" class="footer_link" aria-label="jakistam label">link</a>
					</li>
					<li class="footer__item">
						<a href="#" class="footer_link" aria-label="jakistam label">link</a>
					</li>
					<li class="footer__item">
						<a href="#" class="footer_link" aria-label="jakistam label">link</a>
					</li>
					<li class="footer__item">
						<a href="#" class="footer_link" aria-label="jakistam label">link</a>
					</li>
					<li class="footer__item">
						<a href="#" class="footer_link" aria-label="jakistam label">link</a>
					</li>
					<li class="footer__item">
						<a href="#" class="footer_link" aria-label="jakistam label">link</a>
					</li>
					<li class="footer__item">
						<a href="#" class="footer_link" aria-label="jakistam label">link</a>
					</li>
				</ul>
			</section> <!-- /offer -->
		</footer>
		<section class="bottom-description">
			<article class="bottom-description__article">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit molestiae officiis expedita, esse alias corporis qui, amet. Veniam et recusandae alias cum incidunt facere, dolorum ducimus ab magni ex mollitia?
			</article>
			<article class="bottom-description__article">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel accusamus voluptates nostrum, hic illo alias, maxime porro blanditiis odit quasi laboriosam eaque eum, at, reprehenderit ea suscipit quam modi? Temporibus.
			</article>
		</section> <!-- /.bottom-description -->
	</div> <!-- /.wrapper -->
</body>
</html>