.category
{
  display: flex;
}
.category__image {
  padding-left: 285px;
}
.sort-element{
  width: 200px;
  height: 35px;
}
.toolbar__sort-by
{
  margin-left: 15px;
}
.toolbar__sorter {
  display: flex;
  padding-top: 10px;
}
.sort-title
{
  display: flex;
}
.toolbar_view-mode{
display: inline-block;
margin-right: 1px;
  vertical-align: middle;
  &--icon {
  width: 22px;
  height: 22px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
}
}
.categories
{
  display: flex;
  margin: 30px;
}
.categories__element
{
  margin: 30px;
}
.megamenu-placeholder
{
  background-color: rgba(245, 245, 245, 0.85);
  margin: 5px;
  width: 100%;
}
.menu{
  padding: 20px;
}
.toolbar__mode-view
{
  margin-left: 10px;
  margin-top: 5px;
}
.sort-title_left
{
  margin-left: 15px;
}
.sort-title_right
{
  margin-left: 710px;
}
.category__title
{
  padding-bottom: 15px;
  padding-top: 15px;
}
.category__header
{
  margin-left: 15px;
}
//.footer {
//  height: 260px;
//  margin-top: 20px;
//  padding: 20px;
//  box-sizing: border-box;
//  display: flex;
//  background: #ddd;
//  &__links {
//    margin-top: 15px;
//    list-style-image: url();
//    list-style-position: inside;
//  }
//  &__item {
//    margin-top: 10px;
//    .link {
//      font-size: $text_standard;
//    }
//  }
//  &__section {
//    flex-basis: 25%;
//    &--contact {
//      a {
//        display: block;
//        margin-bottom: 10px;
//      }
//    }
//  }
//  .contact-details {
//    margin-top: 30px;
//    font-size: $text_standard;
//    line-height: 23px;
//  }
//}
//.header--reviews {
//  position: relative;
//  .link--reviews {
//    position: absolute;
//    right: 10px;
//    bottom: 5px;
//  }
//}
//.reviews {
//  display: flex;
//  height: 150px;
//  width: 100%;
//  margin-top: 10px;
//  .reviews__opinion {
//    width: 30%;
//    margin-top: 10px;
//    margin-right: 3%;
//    font-size: $text_standard;
//    line-height: 18px;
//    &:first-child {
//      margin-left: 10px;
//    }
//    &:last-child {
//      margin-right: 0;
//    }
//  }
//  .reviews__author {
//    font-size: $text_small;
//    display: block;
//    margin-top: 10px;
//  }
//}
//.featured {
//  margin-top: 30px;
//  height: 400px;
//  display: flex;
//  .featured__article {
//    flex-basis: 30%;
//    padding: 15px;
//  }
//  .featured__header {
//    font-size: $header_big;
//    font-weight: 400;
//    line-height: 30px;
//    padding-bottom: 10px;
//    //border-bottom: 1px solid $pk_lightgray_underline;
//  }
//  .featured-items {
//    flex-basis: 70%;
//    background-color: rgba(0, 0, 0, 0.85);
//  }
//  .featured__caption {
//    margin-top: 10px;
//    width: 90%;
//    //font-size: $featured_text_desktop;
//    line-height: 25px;
//  }
//  .featured-links {
//    margin-top: 15px;
//    height: 55%;
//    display: flex;
//    flex-direction: column;
//    justify-content: space-around;
//    .featured-links__figure {
//      display: flex;
//    }
//  }
//}
//.bottom-description {
//  margin-top: 20px;
//  display: flex;
//  flex-wrap: wrap;
//  justify-content: space-between;
//  &__article {
//    flex-basis: 49%;
//    line-height: 18px;
//    font-size: $text_small;
//  }
//}