@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import 'variables';

/////////////// C H W I L O W O ///////////////////
body {
	margin: 0;
	padding: 0;
}
.wrapper {
	width: 100%;
	max-width: 1150px;
	margin: 0 auto;
}
/////////////////////////////////////////////////
.top-nav {
	background-color: red;
	width: 100%;
	display: flex;
	justify-content: flex-end;
}
.navigation-list__item {
	display: inline-block;
	&--tel {

	}
	&-- {
		
	}
}