// SIZES
$header_big: 24px;
$header_big_mobile: 19px;
$product_price: 17px;
$product_price_mobile: 14px;
$text_standard: 14px;
$text_standard_mobile: 13px;
$text_small: 11px;

// COLORS
$product_price_color: #08a000;
$product_info_color: #555;

// FONTS
$main_font: 'Open Sans', sans-serif;